/* -----------footer--------------------- */
/* .footerbody{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */
footer {
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 180px;
    padding: 80px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.footerbody{
    z-index: 5;
    overflow-y: hidden;
    margin: -80px;
}


